@model RefactoredModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>Code to refactor:</h5>
    <form method="post" asp-action="Refactor">
        <textarea name="body" rows="10" cols="50"></textarea>
        <br/>
        <button type="submit">Submit</button>
    </form>
</div>