@model RefactoredModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>Code to refactor:</h5>
    <form method="post" asp-action="Refactor">
        <textarea name="body" rows="10" cols="50"></textarea>
        <br/>
        <input id="1" type="radio" name="refactorType" value="ReturnInline"/>
        <label for="1">Gjenero inline temp</label><br>
        <input id="2" type="radio" name="refactorType" value="SplitTempVariable"/>
        <label for="2">Ndaj variabël të përkohshme</label><br>
        <input id="3" type="radio" name="refactorType" value="MakeConsts"/>
        <label for="3">Krijo konstante</label><br>
        <input id="4" type="radio" name="R4" value="R4"/>
        <button type="submit">Submit</button>
    </form>
</div>