html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../background.jpg');
  color: white !important;
  font-family: fantasy !important;
}

.header{
  background-image: url('../background.jpg');
}

#teksti{
  color: black !important;
}

.paragrafi{
  text-align: center;
}